@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  background-image: url('../public/images/background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fafafa;
  font-weight: 300;
}

.menu-icon path {
  stroke: #fafafa;
}

.mobile-menu {
  animation: fadeIn 0.3s ease-in both;
}

.blog-post h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 20px 0;
  font-weight: 500;
}

.blog-post h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin: 20px 0;
}

.blog-post p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 20px 0;
}

.blog-post code {
  background: #3d3d3d;
  border-radius: 5px;
  padding: 0.05rem 0.25rem;
}

.blog-post pre code {
  background: none;
  border-radius: 0;
}

p {
  line-height: 1.85rem;
}
