@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}

.navigation-links a:hover {
  background: linear-gradient(to right, #78716c 2px, transparent 2px) 0 0,
    linear-gradient(to right, #78716c 2px, transparent 2px) 0 100%,
    linear-gradient(to left, #78716c 2px, transparent 2px) 100% 0,
    linear-gradient(to left, #78716c 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, #78716c 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, #78716c 2px, transparent 2px) 100% 0,
    linear-gradient(to top, #78716c 2px, transparent 2px) 0 100%,
    linear-gradient(to top, #78716c 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

.navigation-links li a.active {
  background: linear-gradient(to right, #059669 2px, transparent 2px) 0 0,
    linear-gradient(to right, #059669 2px, transparent 2px) 0 100%,
    linear-gradient(to left, #059669 2px, transparent 2px) 100% 0,
    linear-gradient(to left, #059669 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, #059669 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, #059669 2px, transparent 2px) 100% 0,
    linear-gradient(to top, #059669 2px, transparent 2px) 0 100%,
    linear-gradient(to top, #059669 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

.close-menu path {
  stroke: #f1f5f9;
}

.mobile-menu {
  animation: fadeIn 0.3s ease-in both;
}
@keyframes fadeIn {
  from {
    opacity: 1;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
